# Ignore Python bytecode directories
**/__pycache__/
**/.pytest_cache/

# Ignore JetBrains IDE settings folder
.idea/

# Ignore virtual environment directories
venv/
env/
tmp/

# Ignore specific environment variable configuration file
/clean_rla.yaml
/dev_rla.yaml
/future_rla.yaml
/far_future_rla.yaml