# Ignore Python bytecode directories
**/__pycache__/

# Ignore JetBrains IDE settings folder
.idea/

# Ignore virtual environment directories
venv/
env/
tmp/

# Ignore specific environment variable configuration file
/env_var_config.py